<div class="reputon-google-reviews-widget" id="b66440f0-7b91-11eb-b9ac-75aa32abe981" ></div>
{% schema %}
  {
    "name": "Google Reviews",
    "settings": [],
    "presets": [{
      "name": "Google Reviews",
      "category": "Social media",
      "settings": {

      }
    }]
  }
{% endschema %}
