<style>
  .flexara {
    display: flex;
    flex-direction: row;
}
  .fr {
    width: 48%;
    margin-right: 4%;
    font-weight: 600;
}
  .x-column.x-sm.x-1-2.ra {
    width: 48%;
}
  .x-container.max {
    max-width: 1200px;
}
  .x-column.x-sm.x-1-2.jedinica {
    margin-right: 4%;
}
.e1097-54.x-container {
    background-color: #132648;
    margin-top: -90px;
    padding-bottom: 52px;
}
  .e1097-55.x-column.x-sm.x-1-1 {
    max-width: 1200px;
    margin: 0 auto;
}
  h1.hedara {
    font-size: 100px;
}
  .x-main.full {
    padding-top: 87px;
}
  .sub-footer {
    margin-top: -15px;
    border-top: 0;
    padding-top: 30px;
}
  .ike {
    margin-top: 51px;
}
  .x-text p {
    margin-bottom: 45px;
}.megan {
    color: #556573;
    margin-top: 18px;
    margin-bottom: 0 !important;
}
  .biciklo {
    max-width: 791px;
}
  .x-container.max.width.kitara.flexara {
    justify-content: space-around;
}
  @media only screen and (max-width: 800px) {
    .x-main.full {
    padding-top: 10px;
}
  .flexara {
    flex-direction: column;
}
    .fr {
    width: 100%;
    margin-right: 0;
}
    .x-column.x-sm.x-1-2.ra {
    width: 100%;
}
    .x-section {
    padding: 0 19px !important;
}
    h1.hedara {
    font-size: 50px;
}
}
</style>
<div class="x-main full" role="main">

    
      <article id="post-1097" class="post-1097 page type-page status-publish hentry no-post-thumbnail">
        

<div class="entry-content content">


  <div id="cs-content" class="cs-content"><div id="x-section-1" class="x-section" style="margin: 0px;padding: 0px 0px 45px; background-color: hsl(218, 49%, 19%);"><div class="x-container max width" style="margin: 0px auto;padding: 0px;"><div class="x-column x-sm x-1-1" style="padding: 0px;"><div class="x-text"><h1 class="hedara" style="color: #55bdc5; text-align: center; text-transform: none; font-family: cubano, sans-serif;">About fly rides</h1>
</div></div></div><div class="x-container max width flexara" style="margin: 0px auto;padding: 0px;">
    <div class="x-column x-sm x-1-2 fr" style="padding: 0px;"><div class="x-text"><p style="color: white; text-align: justify;font-size:20px;">Fly Rides is committed to the electric bike lifestyle and getting people back out on bikes! Our mission is simple but epic: To always exceed our customers’ expectations in every way. </p>
<p></p><p style="color: white; text-align: justify;font-size:20px;">We are passionate about active travel, electric bikes, and creating incredible experiences for our guests! Our tour routes has been designed with a genuine love for all that SoCal has to offer, and we hand select the bike brands we carry so our customers have excellent, quality options. </p>
<p></p><p style="color: white; text-align: justify;font-size:20px;">For us, this isn’t simply a business, but a privilege and honor to be chosen for the purchase of an electric bike, guided tour, or rental. Please don’t hesitate to reach out if you have any questions about our products and services- we’d love to hear from you! Scroll down to read about our team, and learn about how Fly Rides was born.</p>
<div class="ike" style="font-family: Nexa Rust Script l; font-size: 40px; color: #ed588d; text-align: left;">Ike &amp; Megan Fazzio</div>
<p class="megan" data-gtm-vis-recent-on-screen-2735938_22="3151" data-gtm-vis-first-on-screen-2735938_22="3151" data-gtm-vis-total-visible-time-2735938_22="100" data-gtm-vis-has-fired-2735938_22="1">Founders /Biking Enthusiasts</p>
</div></div><div class="x-column x-sm x-1-2 ra" style="padding: 0px;"><img class="x-img x-img-none" src="https://laflyrides.com/wp-content/uploads/2016/12/IMG_9710.jpg"><a class="x-img x-img-link x-img-none" href="https://www.tripadvisor.com/Attraction_Review-g32578-d2058133-Reviews-San_Diego_Fly_Rides-La_Jolla_San_Diego_California.html" data-options="thumbnail: 'https://sandiegoflyrides.com/wp-content/uploads/2019/08/san-diego-trip-advisor.png'"><img src="https://sandiegoflyrides.com/wp-content/uploads/2019/08/san-diego-trip-advisor.png" alt="Top rated electric bike company on TripAdvisor"></a>
<div class="e1097-11 x-text">
   
<h2 style="text-transform:none;color:white; font-size:28px;text-align: center;"> We are honored to be the top rated tour in San Diego and <br>La Jolla on TripAdvisor!</h2><h2></h2></div>
</div></div></div><div id="x-section-2" class="x-section" style="margin: 0px;padding: 45px 0px; background-color: transparent;">
    <div class="x-container max width kitara flexara" style="margin: 0px auto;padding: 0px;"><div class="x-column x-sm x-1-4" style="padding: 0px;"><img class="x-img x-img-none" style="max-width:200px;margin-left:auto;margin-right:auto;display:block;" src="https://laflyrides.com/wp-content/uploads/2019/03/eBike-Icon.png" alt="electric bike"></div><div class="x-column x-sm x-3-4" style="padding: 0px;"><div class="x-text" style="padding-top:10px;"><div class="biciklo" style="font-family: avenir; font-size: 30px; color: #ed588d; text-align: center;"><strong>Fly Rides is committed to the Electric Bike Lifestyle and getting people back on bikes!</strong></div><strong>
</strong></div></div></div></div>
    
    <div id="x-section-3" class="x-section" style="margin: 0px;padding: 0px 0px 45px; background-color: hsl(184, 49%, 55%);">
      <div class="x-container max width flexara" style="margin: 0px auto;padding: 30px 0px 0px;">
        <div class="x-column x-sm x-1-2 jedinica" style="padding: 0px;">
          <div class="x-text">
            <h2 style="text-transform:none;color:white; font-size:40px;">
              <strong><strong>Our Roots</strong></strong></h2><strong>
<p style="color: white; text-align: justify;font-size:20px;" data-gtm-vis-has-fired-2735938_22="1">The idea for Fly Rides came in 2009 just as the Great Recession was coming into full swing. Like many others around the country, Ike’s work of many years had began to dry up and with nothing in the pipeline, Ike &amp; Megan, husband &amp; wife, decided to take some time off and go biking through Italy and France, fulfilling a dream they’d had for many years.</p>
</strong>
          </div>
          <strong class="">
            <img class="x-img x-img-none" src="https://laflyrides.com/wp-content/uploads/2019/05/IMG_6360.jpg" alt="electric bike company"></strong></div>
        
        <div class="x-column x-sm x-1-2 dvica" style="padding: 45px 0px 0px;">
          <strong class="">
            <img class="x-img x-img-none slidza" style="padding-top:50px;" src="https://laflyrides.com/wp-content/uploads/2016/06/san-diego-fly-rides-ike-megan.jpg">
            
            
            <div class="x-text" style="padding-top:20px;">
              <p style="color: white; text-align: justify;font-size:20px;" data-gtm-vis-has-fired-2735938_22="1">They sold off many of their belongings, stored the rest, and headed to Rome to begin an experience that would forever change their lives. Six months, 3k miles, and many bicchieri di vino later Megan and Ike came home with the inspiration to start a tour company centered around cycling. They love SoCal with a passion and appreciation that shines through in their business.</p>
</div>
            <img class="x-img x-img-none" style="padding-top:20px;" src="https://laflyrides.com/wp-content/uploads/2019/05/IMG_6348_2.jpg" alt="electric bike touring">
            
          </strong>
        </div>
      </div>
    </div>
    
    
    <div id="x-section-4" class="x-section" style="margin: 0px;padding: 0px; background-color: transparent;">
      <div class="x-container max width" style="margin: 0px auto;padding: 0px;">
        <div class="x-column x-sm x-1-1" style="padding: 0px;">
          <div class="x-text" style="padding:50px;">
            <div style="font-family: avenir; font-size: 40px; color: #ed588d; text-align: center;">
              <strong>
                <strong>Get to know the rest of the Fly Rides Team!</strong>
              </strong></div>
            <strong><strong>
</strong></strong></div><strong><strong><img class="x-img x-img-none" src="https://sandiegoflyrides.com/wp-content/uploads/2019/12/Fly-Rides-Group-Photo.jpg" alt="San Diego Fly Rides electric bike team"></strong></strong></div></div><div class="x-container max width marginless-columns" style="margin: 0px auto;padding: 0px 0px 50px;"><div class="x-column x-sm x-1-1" style="padding: 0px;border:10px solid #2497a0; background-color:transparent;"><div class="x-text" style="padding-top:10px;"><div style="font-family: avenir; font-size: 30px; color: #ed588d; text-align: left; padding: 0px 20px;"><strong><strong><strong>Max S.</strong></strong></strong></div><strong><strong>
<p style="color: black; text-align: justify; padding: 0px 20px;">U.S Marine (5 years) turned wayward traveller (a continuous 3 years overseas) that landed in San Diego after trying to convince my better half that Colorado wasn’t that cold. It was, so we headed for sunshine. Ebiking, longboarding, kayaking, and beach days have turned into my favorite activities in California. Explore More and always seek self improvement. </p>
<div style="display: inline-block; float: left;">
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;"><strong>Favorite bike:</strong> <span style="color: black;"> Bulls Monster E FS</span></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;" data-gtm-vis-has-fired-2735938_22="1"><strong>Favorite craft beer?</strong> <span style="color: black;">Wachusett Brewing – Bella Czech Pils</span></p>
</div>
<p><span style="display: inline-block; float: left;"></span></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;"><strong>Where do you like to ride it?</strong><span style="color: black;"> On the sand to avoid boardwalk traffic.</span></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;"><strong>Most interesting place you’ve traveled to?</strong><span style="color: black;"> 17 countries but India was the most “interesting” and culturally different.</span></p>
<p></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;" data-gtm-vis-has-fired-2735938_22="1"><strong>What is your go-to party trick?</strong><span style="color: black;"> Drinking gin until I turn into a social butterfly</span></p>
</strong></strong></div></div></div><div class="x-container max width marginless-columns" style="margin: 0px auto;padding: 0px 0px 50px;"><div class="x-column x-sm x-1-1" style="padding: 0px;border:10px solid #ed588d; background-color:transparent;"><div class="x-text" style="padding-top:10px;"><div style="font-family: avenir; font-size: 30px; color: #ed588d; text-align: left; padding: 0px 20px;"><strong><strong><strong>William W.</strong></strong></strong></div><strong><strong>
<p style="color: black; text-align: justify; padding: 0px 20px;">One year back from living in the capital of Argentina for a decade, I find myself these days riding, touring, renting, servicing and selling these awesome bikes in one of the best neighborhoods of San Diego – La Jolla. I’m extremely passionate about everything bikes related, especially long distance touring after pedaling the pacific from Canada to San Francisco in 2016. Currently planning my next trip while writing about my previous one in a book title BiciTraveling – Pedaling El Pacifico. Stay tuned!</p>
<div style="display: block; float: left;">
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;"><strong>Favorite bike:</strong> <span style="color: black;"> Focus Jam2 Plus Pro</span></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;" data-gtm-vis-has-fired-2735938_22="1"><strong>Favorite craft beer?</strong> <span style="color: black;">Saint Archer Hazy IPA </span></p>
</div>
<p><span style="float: left; display:inline-block;"></span></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;"><strong>Where do you like to ride it? </strong><span style="color: black;">Los Peñasquitos Canyon </span></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;"><strong>Most interesting place you’ve traveled to?</strong><span style="color: black;"> Cuba. Shhhh don’t tell on me. </span></p>
<p></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;" data-gtm-vis-has-fired-2735938_22="1"><strong>What is your go-to party trick?</strong><span style="color: black;"> I can pass a straw through my ear and pull it out my mouth. </span></p>
</strong></strong></div></div></div><div class="x-container max width marginless-columns" style="margin: 0px auto;padding: 0px 0px 50px;"><div class="x-column x-sm x-1-1" style="padding: 0px;border:10px solid #2497a0; background-color:transparent;"><div class="x-text" style="padding-top:10px;"><div style="font-family: avenir; font-size: 30px; color: #ed588d; text-align: left; padding: 0px 20px;"><strong><strong><strong>Cameron H.</strong></strong></strong></div><strong><strong>
<p style="color: black; text-align: justify; padding: 0px 20px;">I’m a very adventurous Spirit whom has been called a jack of all trades and a MacGyver.  I have sailed from the West Coast to the Hawaiian Islands and climbed the highest peak in Mexico.  I am a traveler at heart and love experiencing the world with my wife Sandra. </p>
<div style="display: block; float: left;">
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;"><strong>Favorite bike:</strong> <span style="color: black;"> Haibike XDURO Allmtn 10.0</span></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;" data-gtm-vis-has-fired-2735938_22="1"><strong>Favorite craft beer?</strong> <span style="color: black;"> Local SoCal IPAs</span></p>
</div>
<p><span style="display: block; float: left;"></span></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;"><strong>Where do you like to ride it? </strong><span style="color: black;"> Mission Trails, really anything off road.</span></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;"><strong>Most interesting place you’ve traveled to?</strong><span style="color: black;"> I would have to say my experiences in the Nevado de Toluca region of Mexico.</span></p>
<p></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;" data-gtm-vis-has-fired-2735938_22="1"><strong>What is your go-to party trick?</strong><span style="color: black;"> My dog Hannah</span></p>
</strong></strong></div></div></div><div class="x-container max width marginless-columns" style="margin: 0px auto;padding: 0px 0px 50px;"><div class="x-column x-sm x-1-1" style="padding: 0px;border:10px solid #ed588d; background-color:transparent;"><div class="x-text" style="padding-top:10px;"><div style="font-family: avenir; font-size: 30px; color: #ed588d; text-align: left; padding: 0px 20px;"><strong><strong><strong>Deanna L.</strong></strong></strong></div><strong><strong>
<p style="color: black; text-align: justify; padding: 0px 20px;">Being from Orange County California, I LOVE the beach!  And the sun…and the desert and the mountains and doing anything outdoors. I’m a mom of three awesome sons, who keep me on my toes and keep my feeling young!  </p>
<div style="display: block; float: left;">
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;"><strong>Favorite bike:</strong> <span style="color: black;"> While I own an electric cross bike, I aspire to have a couple more! The Tern GSD for all my shopping and hauling needs and the Specialized Women’s Turbo Levo.  One can dream, right?!?!</span></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;" data-gtm-vis-has-fired-2735938_22="1"><strong>Favorite craft beer?</strong> <span style="color: black;">Wine!  Ha…but, I do enjoy a cold one from Left Coast Brewing once in a while. </span></p>
</div>
<p><span style="display: block; float: left;"></span></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;"><strong>Where do you like to ride it? </strong><span style="color: black;">I enjoy riding my bike through parks and along the water. </span></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;"><strong>Most interesting place you’ve traveled to?</strong><span style="color: black;"> Singapore </span></p>
<p></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;" data-gtm-vis-has-fired-2735938_22="1"><strong>What is your go-to party trick?</strong><span style="color: black;"> Yummy beverages!  (and good music) </span></p>
</strong></strong></div></div></div><div class="x-container max width marginless-columns" style="margin: 0px auto;padding: 0px 0px 50px;"><div class="x-column x-sm x-1-1" style="padding: 0px;border:10px solid #2497a0; background-color:transparent;"><div class="x-text" style="padding-top:10px;"><div style="font-family: avenir; font-size: 30px; color: #ed588d; text-align: left; padding: 0px 20px;"><strong><strong><strong>Jake E.</strong></strong></strong></div><strong><strong>
<p style="color: black; text-align: justify; padding: 0px 20px;">I am a major desert rat, the Baja 500/1000 is what I live for. I love working on anything with an engine.  If I’m not riding in the deserts of Mexico or Ocotillo Wells, you can usually find me at a skate park here in SD keeping it fly. 😎 </p>
<div style="display: block; float: left;">
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;"><strong>Favorite electric bike:</strong> <span style="color: black;"> Specialized Vado 5.0</span></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;" data-gtm-vis-has-fired-2735938_22="1"><strong>Favorite craft beer?</strong> <span style="color: black;"> Stone Tangerine Express IPA</span></p>
</div>
<p><span style="display: block; float: left;"></span></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;"><strong>Where do you like to ride it? </strong><span style="color: black;"> Streets and Beaches baby!</span></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;"><strong>Most interesting place you’ve traveled to?</strong><span style="color: black;"> Jamaica, Mon!  </span></p>
<p></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;" data-gtm-vis-has-fired-2735938_22="1"><strong>What is your go-to party trick?</strong><span style="color: black;"> I can open a beer cap with anything.</span></p>
</strong></strong></div></div></div><div class="x-container max width marginless-columns" style="margin: 0px auto;padding: 0px 0px 50px;"><div class="x-column x-sm x-1-1" style="padding: 0px;border:10px solid #ed588d; background-color:transparent;"><div class="x-text" style="padding-top:10px;"><div style="font-family: avenir; font-size: 30px; color: #ed588d; text-align: left; padding: 0px 20px;"><strong><strong><strong>Justin M.</strong></strong></strong></div><strong><strong>
<p style="color: black; text-align: justify; padding: 0px 20px;"> I grew up mostly in the low desert, Palm Springs area where I found Mt. biking to be my first love. Lived there before Coachella and Stagecoach made it cool. Nowadays, anything on a board goes: skate, snow, surf. But, I prefer the salty life the most. </p>
<div style="display: block; float: left;">
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;"><strong>Favorite electric bike:</strong> <span style="color: black;"> Bulls Six50</span></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;" data-gtm-vis-has-fired-2735938_22="1"><strong>Favorite craft beer?</strong> <span style="color: black;"> Stone IPA</span></p>
</div>
<p><span style="display: block; float: left;"></span></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;"><strong>Where do you like to ride it? </strong><span style="color: black;"> Fly Rides SoCal Riviera Tour!</span></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;"><strong>Most interesting place you’ve traveled to?</strong><span style="color: black;"> Vang Vieng, Loas</span></p>
<p></p>
<p style="color: #ed588d; text-align: justify; padding: 0px 20px;" data-gtm-vis-has-fired-2735938_22="1"><strong>What is your go-to party trick?</strong><span style="color: black;"> Shooting bottle caps </span></p>
</strong></strong></div></div></div></div><strong><strong>
<div class="e1097-50 x-section">
      
<div class="e1097-51 x-container">
    
<div class="e1097-52 x-column x-sm x-1-1">
    <img class="x-img x-img-none" style="width:100%;" src="https://laflyrides.com/wp-content/uploads/2019/05/Fly-Rides-Footer-NEW-e1559341990249.png" alt="Fly Rides Electric Bikes Footer"></div>
</div>

<div class="e1097-54 x-container">
    
<div class="e1097-55 x-column x-sm x-1-1">
    
<div class="e1097-56 x-text  x-hide-sm x-hide-xs">
  <h3 style="text-transform: none; color: #ed588d; font-size: 40px; text-align: center;"><strong>Our Mission</strong></h3>
<p style="color: white; font-size: 16px; text-align: center;">We started Fly Rides because in our experience, exploring the world from the saddle of a bicycle is hands-down the best way to see, smell, and feel the world outside. Why eBikes? We believe biking should be for everyone, not just those who are lucky enough to have the time and high level of fitness necessary to explore on an acoustic bike.</p>
<p style="color: white; font-size: 16px; text-align: center;">We’re stoked to provide you with only the highest quality electric bikes so that you can spend more time riding and less time in our shop. But when you do need our support, we’re there for you! We strive to create a relationship and curate an environment that makes you love not just your electric bike, but makes you feel a part of the family!</p>
<p style="color: white; font-size: 16px; text-align: center;">Whether you’re stomping dirt with an eMTB, hitting the pavement on a high speed eBike, or just chillin’ on a bike path with an electric beach cruiser, we’ve got your back.</p>
<p style="color: white; font-size: 16px; text-align: center;" data-gtm-vis-has-fired-2735938_22="1">Explore your world with an eBike. Explore your world with Fly Rides.</p></div>
</div>
</div>
  </div>
</strong></strong></div><strong><strong>
  

</strong></strong></div><strong><strong>

      </strong></strong></article><strong><strong>

    
  </strong></strong></div>